#content-main{
    display: grid;
    grid-template-columns: 50% 50%;
}
#my-image-frame img{
	width: 40%;
}

@media (max-width : 768px) {
    #content-main{
        display: block;
        width: 100%;
        text-align: center;
    }
}